<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapshop Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="/static/images/Bg/desktop/Lapshoplogo.png" type="image/x-icon">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/static/css/user_login_register.css' type="text/css" />
</head>

<body>
    <section class="view">
        <div class="container input-box d-flex flex-md-row flex-column align-items-center justify-content-around">
            <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block">
                <h1 class="left-text-one"><span class="left-text-one-sapn"></span></h1>
                <div class="animated-text">
                    I'm a <span></span>
                </div>
                <p class="left-text-two font-italic">
                    Empowering your <span class="text-pr">tech journey</span>, one click at a time.
                </p>
                <p class="left-text-three mt-3">
                    Your one-stop destination for the latest <span class="text-pr">laptops</span>, accessories, and more. Shop with confidence and discover the perfect gadget for you!
                </p>
            </div>
            <div class="form-box col-12 col-md-6 col-lg-4">
                <header class="my-4 fs-4 title text-center">Admin Sign In</header>
                <form action="/admin/login" method="post">
                    <div class="input-field">
                        <input type="text" class="input" id="email" name="email" required oninput="validateEmail()">
                        <label for="email">Email</label>
                        <span id="emailError" class="input-error" style="color: #f82b50;"></span>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="d-flex flex-row my-2 justify-content-between" style="width: 90%;">
                        <div class="left d-flex align-items-center mx-3">
                            <input type="checkbox" id="showPasswordCheckbox" onchange="showpassword()">
                            <label for="showPasswordCheckbox" class="showpassword mx-1">Show password</label>
                        </div>
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn" id="submit">Sign in</button>
                    </div>
                </form>
                <div class="signin mb-2">
                    <% if(message){ %>
                        <div class="alert alert-dismissible fade show alert-<%=type%>" role="alert" id="myAlert" style="padding: 5px; font-size: 14px;">
                            <strong>
                                <%= message %>
                            </strong>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <!-- script for the bootstrap -->
    <script src="/static/scripts/admin_login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    
</body>

</html>
