<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapshop Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/static/css/user_login_register.css' type="text/css" />
</head>

<body>
    <section class="view">
        <div class="container input-box col-8 col-md-6 col-lg-12">
            <div class="form-box col-12 col-md-6 col-lg-4">
                <header class="my-4 fs-4 title text-center">Admin Sign In</header>
                <form action="/admin/login" method="post">
                    <div class="input-field">
                        <input type="text" class="input" id="email" name="email" required oninput="validateEmail()">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="d-flex flex-row my-2 justify-content-between" style="width: 90%;">
                        <div class="left d-flex align-items-center mx-3">
                            <input type="checkbox" id="showPasswordCheckbox" onchange="showpassword()">
                            <label for="showPasswordCheckbox" class="showpassword mx-1">Show password</label>
                        </div>
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn" id="submit">Sign in</button>
                    </div>
                </form>
                <div class="signin mb-2">
                    <% if(message){ %>
                        <div class="alert alert-dismissible fade show alert-<%=type%>" role="alert" id="myAlert" style="padding: 5px; font-size: 14px;">
                            <strong>
                                <%= message %>
                            </strong>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <!-- script for the bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script>

        ////// To validate the email \\\\\\
        function validateEmail() {
                var emailInput = document.getElementById("email");
                var email = emailInput.value;
                var emailRegex = /^[^\s@]+@gmail\.com$/;
                if (!email) {
                    emailInput.classList.remove("invalid-email");
                    document.getElementById('emailError').innerText = "";
                    document.getElementById('email-input').classList.remove('mb-3');
                    return false;
                }
                if (!emailRegex.test(email)) {
                    emailInput.classList.add("invalid-email");
                    document.getElementById('emailError').innerText = "Invalid email"
                    document.getElementById('email-input').classList.add('mb-3');
                    return false;
                }else {
                    emailInput.classList.remove("invalid-email");
                    document.getElementById('emailError').innerText = ""
                    document.getElementById('email-input').classList.remove('mb-3');
                    return true;
                }
            }

            ////// Alert script \\\\\\
            var alertElement = document.getElementById('myAlert');
            if (alertElement) {
                function hideAlert(){
                    alertElement.style.transition = "opacity 1s";
                    alertElement.style.opacity = "0";
                    setTimeout(function () {
                        alertElement.style.display = "none";
                    }, 1000);
                }
                setTimeout(hideAlert, 3000);
            }
            
            ////// For showing the password \\\\\\
            function showpassword() {
            var checkbox = document.getElementById("showPasswordCheckbox");
            var passwordInput = document.getElementById("password");
            
            if (checkbox.checked) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

    </script>
    
</body>

</html>
