/*======> Very small devices <======*/
@media (max-width: 576px) {
    .product-img {
        width: 100%;
    }

    .product-text span {
        font-size: 12px;
    }

    .add-to-cart-btn {
        width: 5rem;
        font-size: 12px;
    }

    .delete-btn {
        font-size: 12px;
    }
}

/*======> XS/SM devices <======*/
@media (min-width: 576px) and (max-width: 767px) {
    .product-img {
        width: 100%;
    }

    .product-text span {
        font-size: 14px;
    }
}

/*======> MD devices <======*/
@media (min-width: 768px) and (max-width: 991px) {
    .product-img {
        width: 60%;
    }
}

/*======> LG devices <======*/
@media (min-width: 992px) and (max-width: 1199px) {
    .product-img {
        width: 80%;
    }
}


/*======> XL devices <======*/
@media (min-width: 1200px) {
    .product-img {
        width: 80%;
    }
}

.quantity-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    outline: none;
}

.quantity-value {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.product-card-each,
.subtotal {
    border-radius: 10px;
}