:root {
    --primary-color: #50c878;
    --secondary-color: #f0ffff;
    --third-color: #1b1b1b;
    --fourth-color: #f82b50;
    --fifth-color: #38ed77;
    --sixth-color: #e4e4e4;
    --offerprice-color: #22a751;
    --realprice-color: #3c3c3c;
    --discount-color: #d73131;
    --badgeBg-color: #6eeaa468;
    --btn-color: linear-gradient(120deg, #fdfbfb 0%, #c9cdcc 100%);
    --btnHover-color: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.cart-intro .fa-question-circle {
    font-size: 1.25rem;
    cursor: pointer;
}

.cart-intro h4 {
    font-size: 1.5rem;
}

.instructions {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.instructions h3 {
    font-size: 1.2rem;
    color: #333;
}

.instructions p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.accordion-button {
    font-size: 1rem;
}

.accordion-body {
    font-size: 0.9rem;
}

/*======> Very small devices <======*/
@media (max-width: 576px) {
    .product-img {
        width: 100%;
    }

    .product-brand , .product-name , .head p{
        font-size: 14px;
    }

    .product-desc , .product-stock , .item-added-date{
        font-size: 12px;
    }

    .product-offerPrice {
        font-size: 14px;
        font-weight: 600;
    }

    .details h6{
        font-size: 14px;
    }
    
    .details h5{
        font-size: 18px;
    }
}

/*======> XS/SM devices <======*/
@media (min-width: 576px) and (max-width: 767px) {
    .product-img {
        width: 100%;
    }

    .product-brand , .product-name , .head p{
        font-size: 15px;
    }

    .product-desc , .product-stock , .item-added-date{
        font-size: 13px;
    }

    .product-offerPrice {
        font-size: 15px;
        font-weight: 600;
    }

    .details h6{
        font-size: 15px;
    }
    
    .details h5{
        font-size: 20px;
    }
}

/*======> MD devices <======*/
@media (min-width: 768px) and (max-width: 991px) {
    .product-img {
        width: 60%;
    }

    .product-brand , .product-name 
    {
        font-size: 17px;
    }

    .head p{
        font-size: 14px;
    }

    .product-desc , .product-stock , .item-added-date{
        font-size: 14px;
    }

    .product-offerPrice {
        font-size: 16px;
        font-weight: 600;
    }

    .details h6{
        font-size: 15px;
    }
    
    .details h5{
        font-size: 20px;
    }
}

/*======> LG devices <======*/
@media (min-width: 992px) and (max-width: 1199px) {
    .product-img {
        width: 80%;
    }
}


/*======> XL devices <======*/
@media (min-width: 1200px) {
    .product-img {
        width: 80%;
    }
}

.quantity-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    outline: none;
}

.quantity-value {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.product-card-each,
.subtotal {
    border-radius: 10px;
}

