@import url('https://fonts.googleapis.com/css2?family=Anton&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*======> Default <======*/
* {
    margin: 0;
    padding: 0;
}

/*======> Default <======*/
html,
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/*======> Hide scrollbar for WebKit browsers <======*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*======> Optional: Apply scrollbar styles for other browsers <======*/
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*======> Default <======*/
body {
    margin: 0;
    padding: 0;
}

/*======> Default <======*/
body::before {
    display: block;
    content: "";
    height: 30px;
}

/*======> Font family <======*/
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
.btn,
p,
.input-group input::placeholder {
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
}

/*======> Root colour <======*/
:root {
    --primary-color: #50c878;
    --secondary-color: #f0ffff;
    --third-color: #1b1b1b;
    --fourth-color: #f82b50;
    --fifth-color: #38ed77;
    --sixth-color: #e4e4e4;
    --offerprice-color: #22a751;
    --realprice-color: #3c3c3c;
    --discount-color: #d73131;
    --badgeBg-color: #6eeaa468;
    --btn-color: linear-gradient(120deg, #fdfbfb 0%, #c9cdcc 100%);
    --btnHover-color: linear-gradient(120deg, #fdfbfb 0%, #989a9c 100%);
}

/*======> Section view <======*/
.view{
    min-height: 100vh;
}

/*======> Navbar start <======*/
.navbar-brand {
    color: var(--secondary-color);
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.nav-item a {
    color: var(--third-color);
}

 .navbar-nav .nav-link{
    color: var(--secondary-color);

}
.nav .nav-link:hover{
    color: var(--primary-color);
}

.nav-item a:hover {
    color: var(--primary-color);
}

.dropdown-menu{
    background-image: var(--btn-color);
}

.dropdown-menu .dropdown-item:hover{
    color: var(--third-color);
    background-image: var(--btnHover-color);
}

.search-input {
    background-color: var(--third-color);
    border-color: var(--primary-color);
}

.input-group input::placeholder {
    color: rgb(148, 148, 148);
    opacity: 1;
}

.input-group-text {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.input-group-text .fa-magnifying-glass{
    color: var(--third-color);
}

.navbar{
    position: fixed;
    width: 100%;
}

 .logo a:hover{
    color: var(--secondary-color);
}

.logout a:hover{
    color: var(--secondary-color);
}

.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
    background-color: var(--third-color);
    caret-color: var(--secondary-color);
    color: var(--sixth-color);
}

/*======> Navbar end <======*/

/*======> Footer start <======*/
.footer-section h6 {
    margin-bottom: 5px;
    color: var(--sixth-color);
}

.footer-section p {
    margin-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

.footer-section h1{
    color: var(--secondary-color);
}

#footer{
    background-color: rgb(0, 0, 0);
}

#footer {
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer-a{
    text-decoration: none;
    color: var(--secondary-color);
}

.logo-footer{
    color: var(--secondary-color);
}

.copyright{
    font-size: 12px;
    color: #484848;
}

/*======> Footer end <======*/

/*======> Very small devices <======*/
@media (max-width: 576px) {

    .navbar-nav {
        margin-top: 1rem;
    }

    .footer-section h1 {
        font-size: 15px;
    }

    .footer-section h6 {
        font-size: 11px;
    }
    
    .footer-section p {
        font-size: 9px;
    }
}

/*======> XS/SM devices <======*/
@media (min-width: 576px) and (max-width: 767px) {

    .navbar-nav {
        margin-top: 1rem;
    }

    .footer-section h1 {
        font-size: 17px;
    }

    .footer-section h6 {
        font-size: 12px;
    }
    
    .footer-section p {
        font-size: 10px;
    }
}

/*======> MD devices <======*/
@media (min-width: 768px) and (max-width: 991px) {

    .footer-section h1 {
        font-size: 20px;
    }

    .footer-section h6 {
        font-size: 13px;
    }
    
    .footer-section p {
        font-size: 11px;
    }
    
}

/*======> LG devices <======*/
@media (min-width: 992px) and (max-width: 1199px) {
    
    .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .footer-section h1 {
        font-size: 22px;
    }

    .footer-section h6 {
        font-size: 15px;
    }
    
    .footer-section p {
        font-size: 13px;
    }

    .copyright{
        font-size: 14px;
    }
    
}


/*======> XL devices <======*/
@media (min-width: 1200px) {

    .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .footer-section h1 {
        font-size: 24px;
    }

    .footer-section h6 {
        font-size: 15px;
    }
    
    .footer-section p {
        font-size: 13px;
    }

    .copyright{
        font-size: 14px;
    }
}