@import url('https://fonts.googleapis.com/css2?family=Anton&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
.input-group input::placeholder {
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
}

:root {
    --primary-color: #50c878;
    --secondary-color: #f0ffff;
    --third-color: #1b1b1b;
    --fourth-color: #f82b50;
    --fifth-color: #38ed77;
    --sixth-color: #e4e4e4;
    --offerprice-color: #22a751;
    --realprice-color: #3c3c3c;
    --discount-color: #d73131;
    --badgeBg-color: #6eeaa468;
    --btn-color: linear-gradient(120deg, #fdfbfb 0%, #c9cdcc 100%);
    --btnHover-color: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

/*======> Profile left side <======*/
.gradient-custom {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    border-radius: 3px;
}

.user-info{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #1b1b1b;
}

.btn-text{
    color: var(--third-color);
}

.prf-btn{
    cursor: pointer;
}

/*======> Profile right side <======*/
.square {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #f8f9fa;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.square:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 1.5rem;
    color: var(--realprice-color);
}

.square p {
    font-size: 1rem;
    color: #343a40;
}

/*======> Profile right side <======*/
.instructions {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.instructions h3 {
    font-size: 1.2rem;
    color: #333;
}

.instructions p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.accordion-button {
    font-size: 1rem;
}

.accordion-body {
    font-size: 0.9rem;
}

.profile-intro .fa-question-circle {
    font-size: 1.25rem;
    cursor: pointer;
}

.profile-intro h4 {
    font-size: 1.5rem;
}
