@import url('https://fonts.googleapis.com/css2?family=Anton&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
.input-group input::placeholder {
    font-family: 'Anton', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
}

:root {
    --primary-color: #50c878;
    --secondary-color: #f0ffff;
    --third-color: #1b1b1b;
    --fourth-color: #f82b50;
    --fifth-color: #38ed77;
    --sixth-color: #e4e4e4;
    --offerprice-color: #22a751;
    --realprice-color: #3c3c3c;
    --discount-color: #d73131;
    --badgeBg-color: #6eeaa468;
    --btn-color: linear-gradient(120deg, #fdfbfb 0%, #c9cdcc 100%);
    --btnHover-color: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

/*======> Profile left side <======*/
.gradient-custom {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

.extra-btn{
    background-image: var(--btn-color);
    border-radius: 5px;
}

.extra-btn:hover{
    background-image: var(--btnHover-color);
    a,i{
        color: var(--third-color);
    }
}
 
a{
    text-decoration: none;
    color: #1b1b1b;
}

.extra-btn i{
    color: var(--third-color);
}

.card-body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.btn-text{
    color: var(--third-color);
}
