@import url('https://fonts.googleapis.com/css2?family=Anton&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Anton', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6,span,a{
  font-family: 'Anton', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
}

/* Forgot password in login */
.fp{
  text-decoration: none;
  color: white;
  font-size: small;
}

.fp:hover{
  color: #50c878;
}
/* Forgot password in login */

/* Background image */
body{
  background-image:-webkit-linear-gradient(top, 
  rgba(0,0,0,0.9) 0%, 
  rgba(0,0,0,0) 20%,
  rgba(0,0,0,0) 80%,
  rgba(0,0,0,0.9) 100%
  ),
  -webkit-linear-gradient(left, 
  rgba(0,0,0,0.9) 0%, 
  rgba(0,0,0,0) 20%,
  rgba(0,0,0,0) 80%,
  rgba(0,0,0,0.9) 100%
  ), url("../images/Bg/desktop/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px 0 20px;
  background-color: black;
}
/* Background image */

/* Form container */
.container-one{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form box */
.box {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(25, 25, 25);
  padding: 20px;  
  justify-content: center;
  height: auto;
  border-radius: 0.25rem;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    color: #ffffff;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 35px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    margin-bottom: 20px;
    color: white;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    color: #d1d1d1;
}

.input-field input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field input:valid~label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #50c878;
}

.input-field .forgot-password{
    font-size: small;
    a{
        text-decoration: none;
        color: #e3e3e3;
    }
}

.paragraph{
    font-size: 15px;
}

#submit{
  background-color: #50c878;
  font-size: 15px;
  color: black;
  font-weight: 600;
}

/* Add !important to override other styles */
.invalid-email {
  border-bottom-color: red !important; 
}

.invalid-input {
  border-bottom: 2px solid red;
}
/* Form box */

/* text with button under the main button of the box */
.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

.signin span, .signin a {
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}

.signin a{
    font-weight: 700;
}

span a:hover {
    text-decoration: none;
    color: #50c878;
}

#screen-size {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    z-index: 9999;
  }
  
  @media (max-width: 576px) {
    #screen-size::before {
      content: "Extra Small (xs)";
    }


  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    #screen-size::before {
      content: "Small (sm)";
    }

   
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #screen-size::before {
      content: "Medium (md)";
    }


  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    #screen-size::before {
      content: "Large (lg)";
    }

    .container-one{
        justify-content: flex-end;
    }

    .box{
        margin-right: 20vh;
    }
  }
  
  @media (min-width: 1200px) {
    #screen-size::before {
      content: "Extra Large (xl)";
    }

    .container-one{
        justify-content: flex-end;
    }

    .box{
        margin-right: 20vh;
    }
  }


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(25, 25, 25) inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}