<!-- Admin navbar -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <link rel="icon" href="/static/images/Bg/desktop/Lapshoplogo.png" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <style>
        .view{
            background-image: linear-gradient(100deg,rgb(77, 89, 89) 40%,rgb(59, 62, 64) 60%);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>
            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Checkout</h3>
            </div>
        </div>
    </nav>

    <section class="view">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="main col-12 col-lg-10 m-3 mt-5 shadow bg-white rounded">
                <form>
                    <div class="p-5">
                        <h4 class=" fs-3 mb-4" style="color: #0f1923;">Add new address</h4>
                        <div class="input-box d-md-flex">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="Name" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" required
                                        oninput="validateName()">
                                    <span id="nameError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="AddressLine" class="form-label">Address line</label>
                                    <textarea class="form-control" name="addressLine" id="addressLine" rows="1" required
                                        oninput="validateAddressLine()"></textarea>
                                    <span id="addressLineError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="Phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" name="phone" id="phone" required
                                        oninput="validatePhone()">
                                    <span id="phoneError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="City" class="form-label">City</label>
                                    <input type="text" class="form-control" name="city" id="city" required
                                        oninput="validateCity()">
                                    <span id="cityError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="District" class="form-label">District</label>
                                    <input type="text" class="form-control" name="district" id="district" required
                                        oninput="validateDistrict()">
                                    <span id="districtError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="State" class="form-label">State</label>
                                    <input type="text" class="form-control" name="state" id="state" required
                                        oninput="validateState()">
                                    <span id="stateError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="Pincode" class="form-label">Pincode</label>
                                    <input type="text" class="form-control" name="pincode" id="pincode" required
                                        oninput="validatePincode()">
                                    <span id="pincodeError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="Country" class="form-label">Country</label>
                                    <input type="text" class="form-control" name="country" id="country" value="India"
                                        required readonly>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="button" class="btn btn-secondary" onclick="goBack()">Cancel</button>
                            <button type="submit" id="addAddress" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="/static/images/Bg/desktop/Lapshoplogo.png" class="img-fluid w-25 h-25">
                            <div class="text text-center">
                                <h1>LapShop</h1>
                                <h6>Discover Your Digital World with Us.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/scripts/user_addAddressFrom_checkout.js"></script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script>
        
    </script>
</body>

</html>