<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <style>
        /*======> Very small devices <======*/
        @media (max-width: 576px) {
      
        }

        /*======> XS/SM devices <======*/
        @media (min-width: 576px) and (max-width: 767px) {

        }

        /*======> MD devices <======*/
        @media (min-width: 768px) and (max-width: 991px) {
   
        }

        /*======> LG devices <======*/
        @media (min-width: 992px) and (max-width: 1199px) {

        }


        /*======> XL devices <======*/
        @media (min-width: 1200px) {

        }

      
    </style>
</head>

<body>

    <div id="screen-size"></div>

    <!-- Navbar One-->
    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">

            <!-- Navbar Logo -->
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->

    <section class="view">
        <!-- main div start -->
            <div class="error-wrap mt-5">
                <div class="container d-flex align-item-center justify-content-center">
                    <div class="col-10 shadow mt-5 d-flex align-item-center justify-content-center flex-column">
                        <h1 class="text-danger text-center">505 Error!</h1>
                        <h5 class="text-center text-danger">Internal server error</h5>
                        <h5 class="text-center text-secondary p-5"><em> We apologize for the inconvenience caused by the 505 error. Our team is working to fix it. Thank you for your patience.</em></h5>
                        <h6 class="text-center text-danger mt-4">Feel free to inform us about the error you faced</h6>
                        <div class="button text-center mb-4">
                            <button class="btn btn-danger" id="inform">Send mail</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- main div end -->
    </section>

    <!-- footer start -->
    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <h1>LapShop</h1>
                            <p>Discover Your Digital World with Us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->