<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>

    <head>
        <!-- User login page css -->
        <link rel='stylesheet' href='/static/css/user_login_register.css' type="text/css" />
    </head>

    <section class="view">
        <div class="container input-box d-flex flex-md-row flex-column align-items-center justify-content-around">
            <div class="col-12 col-md-6 col-lg-4 d-none d-lg-block">
                <h1 class="left-text-one"><span class="left-text-one-sapn"></span></h1>
                <div class="animated-text">
                    I'm a <span></span>
                </div>
                <p class="left-text-two font-italic">
                    Empowering your <span class="text-pr">tech journey</span>, one click at a time.
                </p>
                <p class="left-text-three mt-3">
                    Your one-stop destination for the latest <span class="text-pr">laptops</span>, accessories, and more. Shop with confidence and discover the perfect gadget for you!
                </p>
            </div>
            <div class="form-box col-12 col-md-6 col-lg-4" id="form-box-one">
                <header class="my-4 fs-4 title text-center">Verify email</header>
                <form action="/login" method="post">
                    <div class="input-field" id="email-input">
                        <input type="text" class="input" id="email" name="email" required oninput="validateEmail()">
                        <label for="email">Email</label>
                        <span id="emailError" class="input-error" style="color: #f82b50;"></span>
                    </div>
                    <div class="input-field d-none" id="otp-input">
                        <input type="text" class="input" id="otp" name="otp" required>
                        <label for="otp">Otp</label>
                    </div>
                    <div class="input-field">
                        <button type="button" class="btn" id="submit">Get otp</button>
                        <button type="button" class="btn" id="fpOtpVerify" style="display: none;">Verify</button>
                    </div>
                </form>
                <div class="signin mb-2">
                    <span id="timer"></span>
                </div>
            </div>

            <div class="form-box col-12 col-md-6 col-lg-4" id="form-box-two" style="display: none;">
                <header class="my-4 fs-4 title text-center">Reset password</header>
                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="password" class="input" id="newPass" name="newPass" required>
                        <label for="newPass">New password</label>
                        <span id="passwordError" style="color: #f82b50;"></span>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="confirmPass" name="confirmPass" required>
                        <label for="confirmPass">Re-enter password</label>
                        <span id="confirmPasswordError" style="color: #f82b50;"></span>
                    </div>
                    <div class="d-flex flex-row my-2 justify-content-between" style="width: 90%;">
                        <div class="left d-flex align-items-center mx-3">
                            <input type="checkbox" id="showPasswordCheckbox" onchange="showpassword()">
                            <label for="showPasswordCheckbox" class="text-light mx-1">Show password</label>
                        </div>
                    </div>
                    <div class="input-field">
                        <button type="button" class="btn" id="submitPassword" disabled>Save</button>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/scripts/user_forgotPassword.js"></script>

    <!-- User footer -->
    <%-include("../userpartials/footer.ejs")%>