<head>
    <link rel='stylesheet' href='/static/css/home.css' type="text/css" />
</head>
<%-include("../userpartials/Navbar.ejs")%>

<div class="banner">
    <div class="text-container">
        <h1>Your Text Here</h1>
        <p>Additional Description</p>
    </div>
</div>

<div class="banner">
    <div class="text-container">
        <h1>Your Text Here</h1>
        <p>Additional Description</p>
    </div>
</div>

<%-include("../userpartials/footer.ejs")%>