<%-include("../userpartials/Navbar.ejs")%>
<div class="banner">
    <div class="text-container">
        <h1>Your Text Here</h1>
        <p>Additional Description</p>
    </div>
</div>

<div class="logo-container">
    <img src="brand1.png" alt="Brand 1">
    <img src="brand2.png" alt="Brand 2">
    <img src="brand3.png" alt="Brand 3">
    <!-- Add more brand images as needed -->
</div>
<%-include("../userpartials/footer.ejs")%>