<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

<head>
    <!-- User home css file -->
    <link rel='stylesheet' href='/static/css/home.css' type="text/css" />
</head>

<!-- User home banner -->
<div class="banner">
    <div class="text-container">
        <h1>Banner</h1>
        <p>Tagline</p>
    </div>
</div>

<div class="banner">
    <div class="text-container">
        <h1>Your Text Here</h1>
        <p>Additional Description</p>
    </div>
</div>

<!-- User footer -->
<%-include("../userpartials/footer.ejs")%>