<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

<head>
    <!-- User home css file -->
    <link rel='stylesheet' href='/static/css/home.css' type="text/css" />
</head>

<!-- User home banner -->
  <section class="view">
    <div id="carouselExampleAutoplaying" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/HomeCarousels/Ad wall 3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="tagline">
                  <h4>Tagline</h4>
                </div>
                <div class="desc">
                  <h6>Description</h6>
                </div>
                <button class="btn btn-primary">Shop Now</button>
              </div>
          </div>
          <div class="carousel-item active">
            <img src="/static/images/HomeCarousels/Ad wall 2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

<!-- User footer -->
<%-include("../userpartials/footer.ejs")%>