<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>

<head>
    <!-- custom user login page css -->
    <link rel='stylesheet' href='/static/css/user_login_register.css' type="text/css" />
</head>

<div id="screen-size"></div>

<section class="view">
    <div class="container input-box">
        <div class="form-box col-12 col-md-6 col-lg-4">
            <header class="my-4 fs-4 title text-center">Sign In</header>
            <form action="/login" method="post" id="loginForm">
                <div class="input-field" id="email-input">
                    <input type="email" class="input" id="email" name="email" required oninput="validateEmail()">
                    <label for="email">Email</label>
                    <span id="emailError" class="input-error" style="color: #f82b50;"></span>
                </div>
                <div class="input-field">
                    <input type="password" class="input" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="d-flex flex-row my-2 justify-content-between" style="width: 90%;">
                    <div class="left d-flex align-items-center mx-3">
                        <input type="checkbox" id="showPasswordCheckbox" onchange="showpassword()">
                        <label for="showPasswordCheckbox" class="showpassword mx-1">Show password</label>
                    </div>
                </div>
                <p class="text-center"><a class="text-center fp" href="/forgotPassword">Forgot password</a></p>
                <div class="input-field">
                    <button type="submit" class="btn" id="submit">Sign in</button>
                </div>
            </form>
            <div class="signin mb-2">
                <span>New to LapShop ?,<a href="/register">Sign Up</a></span>
                <% if(message){ %>
                    <div class="alert alert-dismissible fade show alert-<%=type%>" role="alert" id="myAlert" style="padding: 5px; font-size: 14px;">
                        <strong>
                            <%= message %>
                        </strong>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script src="/static/scripts/user_login.js"></script>

<!-- User footer -->
<%-include("../userpartials/footer.ejs")%>