<%-include("../userLoginPartials/header.ejs")%>
<div id="screen-size"></div>
<section class="one">
    <div class="container container-one">
        <div class="box col-8 col-md-6 col-lg-4">
            <div class="input-box">
                <header class="my-4 fs-4">Sign In</header>
                <form action="/" method="post">
                    <div class="input-field">
                        <input type="email" class="input" id="email" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="pass" name="password" required>
                        <label for="pass">Password</label>
                    </div>
                    <div class="input-field">
                        <p class="paragraph text-light">To verify your email we will send you a OTP to your email.</p>
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn submit "
                        style="background-color: #50c878; color: rgb(0, 0, 0); font-size: 15px; font-weight: 600;">Verify
                        email</button>
                    </div>
                </form>
                <div class="signin mb-2">
                    <span>New user ?<a href="/register">Sign Up</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

<%-include("../userLoginPartials/footer.ejs")%>