<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>

<head>
    <!-- User otp page css -->
    <link rel='stylesheet' href='/static/css/user_otpvalidation.css' type="text/css" />
</head>

<section class="view">
    <div class="container input-box col-8 col-md-6 col-lg-12">
        <div class="form-box">
            <header class="my-4 fs-4 title text-center">Enter OTP</header>
            <form>
                <div class="d-flex">
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp" required>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp2" required>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp3" required>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp4" required>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp5" required>
                    </div>
                    <div class="input-field">
                        <input type="text" class="input otp-input" id="otp" name="otp6" required>
                    </div>
                </div>
                <div class="input-field">
                    <button class="btn" id="submit">Verify otp</button>
                </div>
            </form>
            <div class="signin mb-2">
                <span id="resendOtp"><a href="#" onclick="sendotp()">Resend OTP</a></span>
                <span id="otpView"></span>
                <% if(message){ %>
                    <div class="alert alert-dismissible fade show alert-<%=type%>" role="alert" id="myAlert" style="padding: 5px; font-size: 14px;">
                        <strong> <%= message %> </strong>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/static/scripts/user_register_otpValidation.js"></script>

<!-- User footer -->
<%-include("../userpartials/footer.ejs")%>
