<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

<head>
    <!-- User register page css -->
    <link rel='stylesheet' href='/static/css/user_register.css' type="text/css" />
</head>

<div id="screen-size"></div>
 <section class="view">
    <div class="container input-box col-8 col-md-6 col-lg-12">
        <div class="form-box">
            <header class="my-4 fs-4 title text-center">Sign In</header>
            <form action="/register" method="POST" id="registrationForm">
                <div class="input-field">
                    <input type="text" class="input" id="fullname" name="fullname" required>
                    <label for="fullname">First and last name</label>
                </div>
                <div class="input-field d-flex flex-row align-items-end">
                    <input type="text" class="input email-input" id="email" name="email" required onblur="validateEmail()">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input type="text" class="input" id="phone" name="phone" required>
                    <label for="phone">Mobile number</label>
                </div>
                <small id="phoneError" class="text-danger d-none">Please enter a valid 10-digit phone number.</small>
                <div class="input-field">
                    <input type="password" class="input" id="pass" name="password" required>
                    <label for="pass">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" class="input" id="confirmpass" name="confirmpassword" required required onmouseleave="checkPasswordMatch()">
                    <label for="confirmpassword">Confirm password</label>
                </div>                
                <div class="input-field">
                    <p class="paragraph text-light small">To verify your email we will send you a OTP to your email.</p>
                </div>
                <div class="input-field">
                    <button type="submit" class="btn regiterbtn" id="submit" onclick="registerbtn()">Register</button>
                </div>
            </form>
            <div class="signin mb-2">
                <span>Already have an account,<a href="/login">Sign In</a></span>
                <% if(message){ %>
                    <div class="alert alert-dismissible fade show alert-<%=type%>" role="alert" id="myAlert" style="padding: 5px; font-size: 14px;">
                        <strong> <%= message %> </strong>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<!-- Validation script for the form -->
<script src="../script/user_script.js"></script>

<!-- User footer -->
<%-include("../userpartials/footer.ejs")%>

    