<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Css for the data tables -->
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.10/datatables.min.css" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Css for sweet alert -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
        <!-- Custom css for admin navbar and footer -->
    <link rel='stylesheet' href='/static/css/admin_nav_footer.css' type="text/css" />
</head>

<body>

    <div id="screen-size"></div>

    <!-- Navbar One-->
    <div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">

            <!-- Navbar Logo -->
            <div class="logo col-lg-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>

            <!-- Navbar Toggle button -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="input-group mt-4 collapse" id="navmenu">
            </div>

            <!-- Navbar rightsdie icons -->
            <div class="facaac col-lg-8">
                <div class="collapse navbar-collapse d-lg-flex align-items-center justify-content-center" id="navmenu">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a href="/admin/home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/admin/products" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/users" class="nav-link">Users</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/orders" class="nav-link">Orders</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/admin/brands" class="nav-link">Brands</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/admin/category" class="nav-link">Category</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/coupons" class="nav-link">Coupons</a>
                        </li>
                        <li class="dropdown nav-item dropnav">
                            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Banners
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/admin/homeCarousel" class="nav-link">Home Carousel</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/adCarousel" class="nav-link">Ad-carousel</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-block d-lg-none">
                            <a href="/admin/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Logout button -->
            <div class="logout col-lg-2 d-none d-lg-block collapse navbar-collapse">
                <a href="/admin/logout" class="navbar-brand ms-auto">
                    <span class="fw-small fs-5">Logout</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->